<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Id</label>
      <input type="text" class="form-control" id="empId" required [(ngModel)]="employee.empId" name="empId">
    </div>

    <div class="form-group">
      <label for="name">Employee Type</label>
      <input type="text" class="form-control" id="employeeType" required [(ngModel)]="employee.employeeType" name="employeeType">
    </div>

    <!-- <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    </div>
 -->
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>